* 
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*Estilo do titulo*/
.container 
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.titulo
{
    padding-top: 30px;
    padding-bottom: 70px;
}

h2 
{
    font-size: 5em;
    color: #000000c4;
}

.linha
{
    border-top: 5px solid #7777ff;
}

/*Estilo do carrosel*/

.review 
{
    width: 800px;
    height: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 0px #00000075;
}

.img-container 
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

img 
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 7px 0px 0px 0px #7777ff;
    object-fit: cover
}

.information 
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h3 
{
    font-size: 1.3em;
}

#trabalho
{
    font-size: 1.2em;
    padding: 5px;
    color: #7777ff;
}

p 
{
    padding: 20px;
    text-align: center;
    color: gray;
    font-size: 1.1em;
}

/*Estilo dos buttton*/
.btn-container 
{
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-100%);
}

.anterior-btn, .proximo-btn
{
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 1.7em;
    color: #7777ff;
    cursor: pointer;
}

.anterior-btn:hover 
{
    color: #c4c4f8d8;
    transition: all ease 0.7s;
}

.proximo-btn:hover 
{
    color: #c4c4f8d8;
    transition: all ease 0.7s;
}


.aleatorio-btn 
{
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    background-color: white;
    color: #5454fc;
    border: 2px solid #7777ff;
    cursor: pointer;
}

.aleatorio-btn:hover 
{
    background-color: #7777ff;
    color: white;
    transition: all ease 0.7s;
}